LOCAL_URL=http://localhost:3000
REACT_APP_GET_USE_CASE_URL="${LOCAL_URL}/get-use-cases"
REACT_APP_UPDATE_USE_CASE_URL="${LOCAL_URL}/update-use-cases"
REACT_APP_REGISTER_VOICE_CLIENT_URL="${LOCAL_URL}/client/register-voice-client"
REACT_APP_RECORDING_URL="${LOCAL_URL}/get-recording"
REACT_APP_UI_WEB_SOCKET_URL="${LOCAL_URL}/clientSocket"