{
    "browser-client": {
        "from": "browser-client",
        "role": "system",
        "type": "webRtc",
        "identity": "browser-client",
        "firstName": "Jane",
        "lastName": "Doe",
        "useCase": "albert-einstein",
        "conversationRelayParamsOverride": {
            "language": "en-US",
            "ttsProvider": "ElevenLabs",
            "voice": "tnSpp4vdxKPjI9w0GnoV",
            "transcriptionProvider": "Deepgram",
            "speechModel": "nova-2-general",
            "interruptible": true,
            "welcomeGreetingInterruptible": true
        }
    }
}